<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <div class="lead">
  </div>
  <p></p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<br>

<%= @sunrise %>
<%= @name %>
<%= @content %>
<%= @temperature %>
<%= @feel_like %>
<%= @temp_min %>
<%= @temp_max %>
<%= @humidity %>
<%= @pressure %>
